@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("styles/reset.css");
@import url("styles/header.css");
@import url("styles/cadastroProdutos.css");
@import url("styles/produtos.css");
@import url("styles/registroDoacao.css");
@import url("styles/estoque.css");
@import url("styles/index.css");
@import url("styles/cadastroOngs.css");
@import url("styles/listaOngs.css");
@import url("styles/search.css");
@import url("styles/registroPedidos.css");
@import url("styles/listaPedidos.css");



:root {
    --cor-azul-dark: #11315A;
    --cor-azul-dark-secondary: #135095;
    --cor-azul-primaria: #009EDD;
    --cor-laranja: #FF8400;
    --cor-laranja-opacity: rgb(255 132 0 / 7%);
    --cor-laranja-opacity2: rgb(255 132 0 / 55%);
    --cor-branco-extra-light: #F6FAFE;
    --cor-branco-light: #EDFAFF;
    --cor-sucess: #00C800;
    --cor-atencao: #EAE10B;
    --cor-erro: #C92424;
    --cor-fundo: #F6F6F6;
    --cor-fundo-cabecalho:#fdf5e6;
    --cor-fundo-input: #F8F8F8;
    --cor-borda-input: #E0E0E0;
    --cor-placeholder: #888282aa;
    --font-principal: 'Poppins', sans-serif;

}



body {
    background-color: var(--cor-fundo);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
