.container__cadastro{
    padding: 1em;
    margin: 2em 0;
    background-color: var(--cor-azul-primaria);
    display: flex;
    justify-content: space-around;
    color: var(--cor-branco-light);
    border-radius: 8px;
}

.container__cadastro-alimento{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkbox-option{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1em;
}


.input-produto, .input-un-de-medida{
    padding: 0.7em;
    background-color: var(--cor-de-fundo-input);
    border: 2px solid var(--cor-da-borda-input);
    border-radius: 8px;
    margin-bottom: 1em;
    font-size: 1em;
    font-family: var(--font-principal);
    color: var(--cor-azul-primaria);
    width: 18%;
}


.input-oculto{
    display: none;   
}

#produtoInput::placeholder,
#unidadeInput::placeholder {
    color: var(--cor-azul-primaria); 
    border: none;
}
#alimento, #un-de-medida{
    appearance: none;
    background-image: url("../img/seta.svg");
    background-repeat: no-repeat;
    background-position: right center; 
    width: 20%;
    font-size: 1em; 
    padding: 0.7em;
    color: var(--cor-azul-primaria);
}

#alimento:focus, #un-de-medida:focus{

    background-image: url("../img/seta-aberta.svg");
}
.adicao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    padding: 0.25em;
    margin: 1em;
    background-color: var(--cor-azul-primaria);
    border: 2px solid var(--cor-azul-primaria);
    color: var(--cor-branco-light);
    border-radius: 8px;
    font-size: 1.5em;
    
}

.container__cadastro-alimento-adicionado{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    width: 100%;
    margin: 1em;
}

.container__adicao{
    display: none;
}

.adicao__item{
    padding:  0.20em 0.35em ;
    border-radius: 8px;
    background-color: var(--cor-azul-primaria);
    color: var(--cor-branco-light);
    font-size: 2em;
    font-weight: 400;
} 

.container__adicao:checked~.container__cadastro-alimento-adicionado .input-oculto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.container__adicao:checked~.adicao__item{
    display: none;
} 



.botao-cadastrar{
    border-radius: 8px;
    background-color: var(--cor-azul-primaria);
    appearance: none;
    color: var(--cor-branco-light);
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: 500;
}
.container__adicao:checked~.container__cadastro-alimento-adicionado .adicao__item{
    display: block

}
#opcoes__cadastrar:checked ~ .container__cadastro-alimento-adicionado .input-oculto {
    display: none;
}

#opcoes__cadastrar:checked ~.adicao__item {
    display: block;
}

